<footer id="main-footer">
  <div id="et-footer-nav">
    <div class="container">
      <ul id="menu-footer-menu" class="bottom-nav">
        <li
          id="menu-item-266"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"
        >
          <a href="{{ 'epk' | absolute_url }}">EPK</a>
        </li>
        <li
          id="menu-item-52"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-52"
        >
          <a href="{{ 'privacy-policy' | absolute_url }}"
            >Privacy Policy</a
          >
        </li>
        <li
          id="menu-item-51"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"
        >
          <a href="{{ 'terms-of-service' | absolute_url }}"
            >Terms of Service</a
          >
        </li>
        <li
          id="menu-item-53"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"
        >
          <a
            target="_blank"
            rel="noopener"
            href="{{ 'sitemap.xml' | absolute_url }}"
            >Sitemap</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- #et-footer-nav -->

  <div id="footer-bottom">
    <div class="container clearfix">
      <div id="footer-info">
        Designed by
        <a
          href="https://www.judsonlmoore.com"
          title="Judson L Moore"
          >Judson L Moore</a
        >
        | Copyright © {{ site.time | date: '%Y' }} Diimond Meeks, llc. All Rights Reserved.
      </div>
    </div>
    <!-- .container -->
  </div>
</footer>
<!-- #main-footer -->
