<header id="main-header" data-height-onload="60">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
      <span class="logo_helper"></span>
      <a href="{{ site.url | absolute_url }}">
        <span class="colorfull-logo">DIIMOND MEEKS</span>
      </a>
    </div>
    <div id="et-top-navigation" data-height="60" data-fixed-height="60">
      <nav id="top-menu-nav">
        <ul id="top-menu" class="nav">
          <li
            id="menu-item-197"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-197"
          >
            <a href="{{ site.url | absolute_url }}" aria-current="page">Home</a>
          </li>
          <li
            id="menu-item-122"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"
          >
            <a href="{{ 'media' | absolute_url }}">Media</a>
          </li>
          <li
            id="menu-item-123"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"
          >
            <a href="{{ 'tour' | absolute_url }}">Tour</a>
          </li>
          <li
            id="menu-item-123"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"
          >
            <a href="{{ 'shoes' | absolute_url }}">Shoes</a>
          </li>
          <li
            id="menu-item-121"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"
          >
            <a href="{{ 'contact' | absolute_url }}">Contact</a>
          </li>
          <li
            id="menu-item-198"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198"
          >
            <a
              target="_blank"
              rel="noopener"
              href="https://www.instagram.com/diimondsareforever/"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li
            id="menu-item-199"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-199"
          >
            <a
              target="_blank"
              rel="noopener"
              href="https://www.facebook.com/DiimondMeeks/"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </li>
          <li
            id="menu-item-200"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-200"
          >
            <a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/DiimondMeeks"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li>
        </ul>
      </nav>

      <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>
    </div>
    <!-- #et-top-navigation -->
  </div>
  <!-- .container -->
</header>
<!-- #main-header -->
