---
layout: default
---



    <div id="et-main-area">
      <div id="main-content">
        <article
          id="post-2"
          class="post-2 page type-page status-publish has-post-thumbnail hentry"
        >
          <div class="entry-content">
            <div id="et-boc" class="et-boc">
              <div class="et-l et-l--post">
                <div class="et_builder_inner_content et_pb_gutters3">
                  <div
                    class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular"
                  >
                    <div class="et_pb_row et_pb_row_0">
                      <div
                        class="et_pb_column et_pb_column_1_2 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough"
                      >
                        <div
                          class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_light"
                        >
                          <div class="et_pb_text_inner">
                            <h2>A modern day legend</h2>
                            <p>Singer. Performer. Fashionista.</p>
                          </div>
                        </div>

                      </div>
                      <!-- .et_pb_column -->
                      <div
                        class="et_pb_column et_pb_column_1_2 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et-last-child"
                      >
                        <div
                          class="et_pb_module et_pb_gallery et_pb_gallery_0 et_pb_bg_layout_light et_pb_slider et_pb_gallery_fullwidth et_slider_auto et_slider_speed_5000 clearfix"
                        >
                          <div
                            class="et_pb_gallery_items et_post_gallery clearfix"
                            data-per_page="4"
                          >
                            <div
                              class="et_pb_gallery_item et_pb_bg_layout_light et_pb_gallery_item_0_0"
                            >
                              <div class="et_pb_gallery_image landscape">
                                  <img
                                    loading="lazy"
                                    width="565"
                                    height="838"
                                    src="{{ '/assets/uploads/2019/04/diimond-meeks-in-black-5.jpg' | absolute_url }}"
                                    class="wp-image-522"
                                  />
                              </div>
                            </div>
                          </div>
                          <!-- .et_pb_gallery_items -->
                        </div>
                        <!-- .et_pb_gallery -->
                      </div>
                      <!-- .et_pb_column -->
                    </div>
                    <!-- .et_pb_row -->
                  </div>
                  <!-- .et_pb_section -->
                  <div class="et_pb_section et_pb_section_1 et_section_regular">
                    <div class="et_pb_row et_pb_row_1">
                      <div
                        class="et_pb_column et_pb_column_4_4 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child"
                      >
                        <div
                          class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light"
                        >
                          <div class="et_pb_text_inner">
                            <p style="text-align: center">
                              Listen to or buy the debut single by DIIMOND
                              MEEKS, ‘Loose Me,’ featuring CeeLo Green, at any
                              of the below online services.
                            </p>
                            <div
                              id="centered-logos"
                              style="
                                padding: 0;
                                margin-left: auto;
                                margin-right: auto;
                                text-align: center;
                              "
                            >
                              <a
                                href="https://www.diimondmeeks.com/go/spotify/"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="Spotify Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_spotify.svg' | absolute_url }}"
                                  alt="Listen to DIIMOND MEEKS on Spotify" /></a
                              ><a
                                href="https://www.diimondmeeks.com/go/soundcloud/"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="SoundCloud Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_soundcloud.svg' | absolute_url }}"
                                  alt="Listen to DIIMOND MEEKS on SoundCloud"
                              /></a>
                              <a
                                href="https://www.diimondmeeks.com/go/itunes/"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="iTunes Store Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_itunes.svg' | absolute_url }}"
                                  alt="Buy DIIMOND MEEKS in the iTunes Store" /></a
                              ><a
                                href="https://itunes.apple.com/us/artist/diimond-meeks/1379160319"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="Apple Music Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_applemusic.svg' | absolute_url }}"
                                  alt="Listen to DIIMOND MEEKS on Apple Music" /></a
                              ><a
                                href="https://www.deezer.com/us/artist/14812023"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="DEEZER Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_deezer.svg' | absolute_url }}"
                                  alt="Listen to DIIMOND MEEKS on DEEZER" /></a
                              ><a
                                href="https://listen.tidal.com/artist/9810684"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                  class="size-thumbnail"
                                  style="
                                    width: 150px;
                                    height: 70px;
                                    vertical-align: middle;
                                    padding: 0 10px;
                                  "
                                  title="Tidal Logo"
                                  src="{{ '/assets/uploads/2018/06/music-service_tidal.svg' | absolute_url }}"
                                  alt="Listen to DIIMOND MEEKS on Tidal"
                              /></a>
                            </div>
                          </div>
                        </div>
                        <!-- .et_pb_text -->
                      </div>
                      <!-- .et_pb_column -->
                    </div>
                    <!-- .et_pb_row -->
                  </div>
                  <!-- .et_pb_section -->
                  <div
                    class="et_pb_section et_pb_section_2 et_pb_section_parallax et_pb_with_background et_section_regular"
                  >
                    <div class="et_parallax_bg_wrap">
                      <div
                        class="et_parallax_bg"
                        style="
                          background-image: url({{ '/assets/uploads/2020/02/bad-attitude-backbround-1.png' | absolute_url }});
                        "
                      ></div>
                    </div>

                    <div class="et_pb_row et_pb_row_2">
                      <div
                        class="et_pb_column et_pb_column_1_2 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough"
                      >
                        <div class="et_pb_module et_pb_video et_pb_video_0">
                          <div class="et_pb_video_box">
                            <iframe
                              loading="lazy"
                              title="BAD ATTITUDE"
                              width="1080"
                              height="608"
                              src="https://www.youtube.com/embed/CV97MLiPt5c?feature=oembed"
                              frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen
                            ></iframe>
                          </div>
                        </div>
                      </div>
                      <!-- .et_pb_column -->
                      <div
                        class="et_pb_column et_pb_column_1_2 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough et-last-child"
                      >
                        <div
                          class="et_pb_module et_pb_text et_pb_text_2 et_pb_text_align_left et_pb_bg_layout_light"
                        >
                          <div class="et_pb_text_inner">
                            <h2 style="text-align: center">
                              New Single by DIIMOND MEEKS “Bad Attitude”
                            </h2>
                          </div>
                        </div>
                        <!-- .et_pb_text -->
                      </div>
                      <!-- .et_pb_column -->
                    </div>
                    <!-- .et_pb_row -->
                  </div>
                  <!-- .et_pb_section -->
                  <div
                    class="et_pb_section et_pb_section_3 et_pb_section_parallax et_pb_with_background et_section_regular"
                  >
                    <div class="et_parallax_bg_wrap">
                      <div
                        class="et_parallax_bg"
                        style="
                          background-image: url({{ '/assets/uploads/2018/06/bg-transparent-smoke.png' | absolute_url }});
                        "
                      ></div>
                    </div>

                    <div class="et_pb_row et_pb_row_3">
                      <div
                        class="et_pb_column et_pb_column_4_4 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough et-last-child"
                      >
                        <div
                          class="et_pb_module et_pb_text et_pb_text_3 et_pb_text_align_left et_pb_bg_layout_dark"
                        >
                          <div class="et_pb_text_inner">
                            <h2>Connect with DIIMOND MEEKS</h2>
                          </div>
                        </div>
                        <!-- .et_pb_text -->
                        <div class="et_pb_module et_pb_code et_pb_code_0">
                          <div class="et_pb_code_inner">
                            <div
                              class="et_social_networks et_social_4col et_social_simple et_social_rectangle et_social_top et_social_shortcode_0 et_social_mobile_on et_social_withnetworknames et_social_outer_light"
                            >
                              <style type="text/css">
                                .et_monarch .et_social_shortcode_0 li,
                                .et_monarch
                                  .et_social_shortcode_0.et_social_circle
                                  ul
                                  li
                                  i.et_social_icon {
                                  background: #000000;
                                }
                                .et_monarch
                                  .et_social_shortcode_0.et_social_rounded
                                  .et_social_icons_container
                                  li:hover,
                                .et_monarch
                                  .et_social_shortcode_0.et_social_rectangle
                                  .et_social_icons_container
                                  li:hover,
                                .et_monarch
                                  .et_social_shortcode_0.et_social_circle
                                  .et_social_icons_container
                                  li:hover
                                  i.et_social_icon {
                                  background: #ffffff !important;
                                }
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_icon,
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_networks
                                  .et_social_network_label,
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_networkname,
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_count {
                                  color: #ffffff !important;
                                }
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_icons_container
                                  li:hover
                                  .et_social_icon,
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_networks
                                  .et_social_icons_container
                                  li:hover
                                  .et_social_network_label,
                                .et_monarch
                                  .et_social_shortcode_0
                                  .et_social_icons_container
                                  li:hover
                                  .et_social_networkname,
                                .et_monarch
                                  .et_social_rounded.et_social_shortcode_0
                                  .et_social_icons_container
                                  li:hover
                                  .et_social_count,
                                .et_monarch
                                  .et_social_rectangle.et_social_shortcode_0
                                  .et_social_icons_container
                                  li:hover
                                  .et_social_count {
                                  color: #000000 !important;
                                }
                              </style>

                              <ul class="et_social_icons_container">
                                <li class="et_social_facebook">
                                  <a
                                    href="https://www.facebook.com/DiimondMeeks/"
                                    class="et_social_follow"
                                    data-social_name="facebook"
                                    data-social_type="follow"
                                    data-post_id="2"
                                    target="_blank"
                                  >
                                    <i
                                      class="et_social_icon et_social_icon_facebook"
                                    ></i>
                                    <div class="et_social_network_label">
                                      <div class="et_social_networkname">
                                        Facebook
                                      </div>
                                    </div>
                                    <span class="et_social_overlay"></span>
                                  </a>
                                </li>
                                <li class="et_social_youtube">
                                  <a
                                    href="https://www.youtube.com/channel/UCcS9K4g_KR8DNigTIKA53Pw"
                                    class="et_social_follow"
                                    data-social_name="youtube"
                                    data-social_type="follow"
                                    data-post_id="2"
                                    target="_blank"
                                  >
                                    <i
                                      class="et_social_icon et_social_icon_youtube"
                                    ></i>
                                    <div class="et_social_network_label">
                                      <div class="et_social_networkname">
                                        YouTube
                                      </div>
                                    </div>
                                    <span class="et_social_overlay"></span>
                                  </a>
                                </li>
                                <li class="et_social_instagram">
                                  <a
                                    href="https://www.instagram.com/diimondsareforever/"
                                    class="et_social_follow"
                                    data-social_name="instagram"
                                    data-social_type="follow"
                                    data-post_id="2"
                                    target="_blank"
                                  >
                                    <i
                                      class="et_social_icon et_social_icon_instagram"
                                    ></i>
                                    <div class="et_social_network_label">
                                      <div class="et_social_networkname">
                                        Instagram
                                      </div>
                                    </div>
                                    <span class="et_social_overlay"></span>
                                  </a>
                                </li>
                                <li class="et_social_twitter">
                                  <a
                                    href="https://twitter.com/DiimondMeeks"
                                    class="et_social_follow"
                                    data-social_name="twitter"
                                    data-social_type="follow"
                                    data-post_id="2"
                                    target="_blank"
                                  >
                                    <i
                                      class="et_social_icon et_social_icon_twitter"
                                    ></i>
                                    <div class="et_social_network_label">
                                      <div class="et_social_networkname">
                                        Twitter
                                      </div>
                                    </div>
                                    <span class="et_social_overlay"></span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-- .et_pb_code -->
                        <div
                          id="homepage-optin "
                          class="et_pb_module et_pb_code et_pb_code_1"
                        >
                          <div class="et_pb_code_inner">
                            <div
                              class="et_bloom_inline_form et_bloom_optin et_bloom_make_form_visible et_bloom_optin_1"
                              style="display: none"
                            >
                              <style type="text/css">
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_content {
                                  background-color: #000000 !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  .et_bloom_form_header {
                                  background-color: #ffffff !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_content
                                  button {
                                  background-color: #ffffff !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_content
                                  .et_bloom_fields
                                  i {
                                  color: #ffffff !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_content
                                  .et_bloom_custom_field_radio
                                  i:before {
                                  background: #ffffff !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_content
                                  button {
                                  background-color: #ffffff !important;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  h2,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  h2
                                  span,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  h2
                                  strong {
                                  font-family: "Open Sans", Helvetica, Arial,
                                    Lucida, sans-serif;
                                }
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  p,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  p
                                  span,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  p
                                  strong,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  form
                                  input,
                                .et_bloom
                                  .et_bloom_optin_1
                                  .et_bloom_form_container
                                  form
                                  button
                                  span {
                                  font-family: "Open Sans", Helvetica, Arial,
                                    Lucida, sans-serif;
                                }
                                .et_bloom_header_outer {
                                  display: none !important;
                                }
                                .et_bloom_header_outer {
                                  padding: 0px;
                                }
                              </style>
                              <div
                                class="et_bloom_form_container et_bloom_form_text_dark et_bloom_form_bottom et_bloom_inline_1_field"
                              >
                                <div
                                  class="et_bloom_form_container_wrapper clearfix"
                                >
                                  <div class="et_bloom_header_outer">
                                    <div
                                      class="et_bloom_form_header et_bloom_header_text_dark"
                                    ></div>
                                  </div>
                                  <div
                                    class="et_bloom_form_content et_bloom_1_field et_bloom_bottom_inline"
                                  >
                                    <form method="post" class="clearfix">
                                      <div class="et_bloom_fields">
                                        <p
                                          class="et_bloom_popup_input et_bloom_subscribe_email"
                                        >
                                          <input placeholder="Email" />
                                        </p>

                                        <button
                                          data-optin_id="optin_1"
                                          data-service="mailchimp"
                                          data-list_id="4f159007c9"
                                          data-page_id="2"
                                          data-account="judsonlmoore"
                                          data-ip_address="true"
                                          class="et_bloom_submit_subscription"
                                        >
                                          <span
                                            class="et_bloom_subscribe_loader"
                                          ></span>
                                          <span
                                            class="et_bloom_button_text et_bloom_button_text_color_dark"
                                            >SUBSCRIBE!</span
                                          >
                                        </button>
                                      </div>
                                    </form>
                                    <div class="et_bloom_success_container">
                                      <span
                                        class="et_bloom_success_checkmark"
                                      ></span>
                                    </div>
                                    <h2 class="et_bloom_success_message">
                                      Please confirm your subscription by
                                      clicking the link in the email we just
                                      sent you.
                                    </h2>
                                    <div class="et_bloom_form_footer">
                                      <p>
                                        <span style="color: #ffffff"
                                          >Recieve updates, show announcements,
                                          and giveaways. Unsubscribe
                                          anytime.</span
                                        >
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <span class="et_bloom_close_button"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- .et_pb_code -->
                      </div>
                      <!-- .et_pb_column -->
                    </div>
                    <!-- .et_pb_row -->
                  </div>
                  <!-- .et_pb_section -->
                </div>
                <!-- .et_builder_inner_content -->
              </div>
              <!-- .et-l -->
            </div>
            <!-- #et-boc -->
            <span class="et_bloom_bottom_trigger"></span>
          </div>
          <!-- .entry-content -->
        </article>
        <!-- .et_pb_post -->
      </div>
      <!-- #main-content -->
